body {
  font-family: 'TrimWebSemiBold', Arial, 'Helvetica Neue';
  background-color: #252525;
  color: #fff;
  margin: 0;
}

table {
  border-collapse: collapse;
  width: 100%
}

th, td {
  padding: .5rem;
  text-align: left;
  border: 1px solid #4D4D4D;
}

.header-row {
  width: 100%;
  height: 600px;
  background-image: url("./images/coach.jpg");
}

.img-full {
  width: 100%;
  height: Auto;
}

.banner-title {
  font-size: 2em;
  font-weight: bold;
  line-height: 2;
  text-align: center;
  text-transform: uppercase;
}

.leader {
  border: solid 1px #4D4D4D;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.user {
  margin-top: 100px;
  background-color: #1C1C1C;
  border-radius: 5px
}

.leader {
  background-color: #262626;
  padding: .75em;
}

.leader-board-cell {
  height: 42px;
  line-height: 42px;
}

.header-label {
  font-size: 18px;
  font-weight: bold;
}

.highlightable:hover {
  background: #1C1C1C
}

.rank {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.userIcon {
  width: 35px;
  height: 35px;
  margin-top: 5px;
}

.bar {
  background-color: #FAD3A5;
  width: 100%;
  height: 28px;
  margin-top: 7px;
}

.inner-bar {
  background-color: #CD881A;
  height: 100%;
  position: relative;
  -webkit-transition: width 1000ms linear;
  -moz-transition: width 1000ms linear;
  transition: width 1000ms linear;
  color: #fff;
  line-height: 28px;
  font-weight: bold;
}

.data-label {
  margin-right: 10px;
  float: right;
}

.red { background-color: red }
.yellow { background-color: yellow }
.orange { background-color: orange }
.green { background-color: green }
.blue { background-color: blue }
.purple { background-color: purple }
.white { background-color: white }
.black { background-color: blue }

.footer-img {
  height: 150px;
  background-image: url("./images/bottom-seperator-transparent.png");
  background-size: cover;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -150px;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 150px;
}

.circle {
  border-radius: 50%;
}

.avatar {
  width: 150px;
  height: 150px;
  border: 8px solid #CD881A;
  margin: 1em;
}

.avatar:hover {
  border: 8px solid #FAD3A5;
}

.user-profile {
  margin: 1em;
}

.top-image {
  background-image: url("./images/bottom-seperator-transparent.png");
}

.btn-bar {
  margin-top: 25px;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 10px 25px;
  font-size: 28px;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}

button:focus {
  outline: none
}

.flat button {
  color: #fff;
  background-color: #CD881A;
  text-shadow: -1px 1px #4D4D4D;
  border: none;
}

.flat button:hover,
.flat button.hover {
  background-color: #F5A214;
  text-shadow: -1px 1px #27496d;
}

.flat button:active,
.flat button.active {
  background-color: #FAD3A5;
  text-shadow: -1px 1px #193047;
}
